body {
  font-family: 'Noto Sans JP';
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　社長挨拶
  ==============================================================*/
  .message-box {
    padding: 40px 20px 48px;
    line-height: 2;
    letter-spacing: 0.1em;
  }

  .message-text-item .message-text .sp {
    display: none;
  }
  /* ==================== 画像 ================== */
  .message-img-box {
    position: relative;
    /* margin-bottom: 60px; */
    margin-bottom: 64px;
  }

  .message-img {
    width: 100%;
    height: auto;
    aspect-ratio: 5 / 3;
    /* max-width: 640px; */
    padding-left: 20px;
  }

  .message-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .message-title {
    position: absolute;
    bottom: -20px;
    left: 0;
    line-height: 1.85;
    font-size: 19px;
    color: #FFFFFF;
    font-weight: 500;
  }

  .message-title span {
    background-color: #4cd5cc;
    padding: 0 5px 2px;
  }

  /* ==================== 画像2枚目 ================== */
  .message-img-02 {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 7;
    margin-top: 40px;
  }

  .message-img-02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  /* ==================== 文章 ================== */
  .message-text-item h3 {
    font-size: 17px;
    color: #39cac0;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 40px;
  }

  .message-text-item .message-text {
    font-size: 14px;
    display: inline-block;
  }

  

  .message-text-item .message-text.text-02 {
    margin-top: 16px;
  }

 /* ==================== 名前 ================== */
.message-box .name {
  font-size: 14px;
  text-align: right;
  margin-top: 24px;
  align-items: center;
}

.message-box .name span {
  font-size: 17px;
  /* font-family: 'Roboto'; */
  font-weight: bold;
}



}

@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  .link-list {
    padding: 24px 64px 0;
  }
  .message-text-item .message-text .sp {
    display: inline-block;
  }
  /*==============================================================
    　　TB_社長挨拶
  ==============================================================*/
  .message-box {
    padding: 48px 70px 56px;
    margin: 0 40px;
  }
  /* ==================== 画像 ================== */
  .message-img {
    padding-left: 0;
    padding-right: 130px;
    /* margin-bottom: 88px; */
    margin-bottom: 80px;
  }

  .message-title {
    font-size: 24px;
    line-height: 2;
    left: auto;
    right: 20px;
  }

  .message-title span {
    padding: 2px 7px 5px;
  }

  /* ==================== 画像2枚目 ================== */
  .message-img-02 {
    margin-top: 48px;
  }

  /* ==================== 文章 ================== */
  .message-text-item h3 {
    font-size: 19px;
    /* margin-bottom: 22px; */
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .message-text-item .message-text {
    font-size: 15px;
  }

  .text-item-01 {
    margin-bottom: 60px;
  }

  /* ==================== 名前 ================== */
  .message-box .name {
    font-size: 14px;
    margin-top: 24px;
  }

  .message-box .name span {
    font-size: 18px;
  }


}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  .link-list {
    padding: 40px 0;
  }
  /*==============================================================
    　　PC_社長挨拶
  ==============================================================*/
  .message-box {
    max-width: 1060px;
    padding: 48px 80px 56px;
    margin: 0 auto;
  }

  /* ==================== 画像 ================== */
  .message-img {
    padding-right: 250px;
    margin-bottom: 0;
    padding-bottom: 20px;
    aspect-ratio: 7 / 4;
  }

  .message-img-box {
    /* margin-bottom: 45px; */
    margin-bottom: 40px;
  }

  .message-title {
    font-size: 32px;
    top: 50%;
    letter-spacing: 0.1em;
  }

  .message-title span {
    padding: 2px 10px 5px;
  }

  /* ==================== 画像2枚目 ================== */
  .message-img-02 {
    margin-top: 56px;
  }

  /* ==================== 文章 ================== */
  .message-text-item h3 {
    font-size: 22px;
    /* margin-bottom: 22px; */
    margin-top: 56px;
    /* margin-top: 60px; */
    margin-bottom: 32px;
  }

  .text-item-01 {
    margin-top: 0px;
  }

  .message-text-item .message-text {
    font-size: 16px;
  }

  /* ==================== 名前 ================== */
  .message-box .name {
    font-size: 16px;
    margin-top: 48px;
    /* margin-top: 54px; */
  }

  .message-box .name span {
    font-size: 20px;
  }


}