body {
  font-family: 'Noto Sans JP';
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　お問い合わせフォーム
  ==============================================================*/
  .form-box {
    padding: 35px 20px 120px;
    letter-spacing: 0.1em;
  }

  /* .form-title {
    padding: 22px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4689E3;
    border-radius: 8px 8px 0 0;
  } */

  .form-text {
    font-size: 14px;
  }

  .form-item {
    margin-top: 28px;
  }

  .form-item label {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .required, .nullable {
    font-size: 10px;
    padding: 3px 10px;
    color: #FFFFFF;
    border-radius: 5px;
    margin-left: 12px;
    font-weight: normal;
  }

  .required {
    background-color: #F44336;
  }

  .nullable {
    background-color: #4689E3;
  }

  .form-item input,textarea {
    display:block;
    width: 100%;
    height: 50px;
    background-color: #E4EFFF;
    border-radius: 8px;
  }

  .form-item textarea {
    height: 150px;
  }

  .agree {
    text-align: center;
    margin: 32px 0 20px;
    font-size: 13px;
  }

  .policy-link {
    color: #4689E3;
    border-bottom: solid 1px #4689E3;
  }

  .check {
    font-size: 13px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .to-confirm {
    text-align: center;
  }

  input[type="checkbox"] {
    margin-right: 5px;
    border-color: #4689E3;
  }

  .btn-confirm {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #4689E3;
    padding: 15px 85px;
    font-weight: bold;
    letter-spacing: 0.1em;
    border-radius: 8px;
  }
}

@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　TB_お問い合わせフォーム
  ==============================================================*/
  .form-box {
    padding: 45px 70px 155px;
  }

  .form-title {
    padding: 20px 15px;
    margin-bottom: 40px;
    letter-spacing: 0.2em;
  }

  .form-item {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 232px auto;
    gap: 22px;
  }

  .form-item label {
    justify-content: space-between;
    margin-bottom: 0;
  }

  .required, .nullable {
    padding: 5px 12px;
  }

  .message label {
    align-items: stretch;
    margin-top: 15px;
  }

  .required, .nullable {
    max-height: 22px;
  }

  .agree {
    margin: 40px 0 25px;
    font-size: 14px;
  }

  .check {
    margin-bottom: 45px;
    font-size: 14px;
  }

  .btn-confirm {
    font-size: 15px;
    padding: 17px 120px;
  }
}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_お問い合わせフォーム
  ==============================================================*/
  .form-box {
    padding: 60px 0 120px;
    max-width: 1060px;
    margin: 0 auto;
  }

  .form-title {
    padding: 25px 20px;
    margin-bottom: 60px;
    letter-spacing: 0.25em;
    font-size: 16px;
  }

  .form-item {
    margin-top: 30px;
    grid-template-columns: 310px auto;
    gap: 25px;
  }

  .form-item label {
    font-size: 15px;
  }

  .required, .nullable {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .agree {
    margin: 55px 0 25px;
    font-size: 15px;
  }

  .check {
    margin-bottom: 60px;
    font-size: 15px;
  }



}