body {
  font-family: 'Noto Sans JP';
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　お問い合わせフォーム
  ==============================================================*/
  .form-bg {
    margin-top: 0px;
  }

  .form-box {
    padding-top: 48px;
  }

  /* ==================== ステップ ================== */
  .step.completed {
    color: #4689E3;
  }

  .step.completed .step-text {
    margin-left: 0;
  }

  .step-text.margin-left {
    margin-left: 2.5px;
  }

  .step-completed {
    width: 25px;
    height: 25px;
    background-color: #4689E3;
    border-radius: 25px;
    padding-top: 9px;
    margin-top: 12px;
  }

  .step-completed .check {
    width: 13px;
    height: 8px;
    margin: 0 auto;
  }

  .line.completed {
    background-color: #4689E3;
    width: 90px;
    margin-left: -5px;
    margin-right: -5px;
  }


  /* ==================== テキスト ================== */
  .form-text {
    margin-bottom: 40px;
  }

  .form-text h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 16px;
  }

  .btn-form {
    padding: 15px 30px;
    text-align: center;
    /* margin-top: 56px; */
  }







}

@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　TB_お問い合わせフォーム
  ==============================================================*/
  .form-box {
    padding-top: 64px;
  }
  /* ==================== ステップ ================== */
  .form-step {
    margin-left: 5px;
  }

  .step-completed {
    width: 30px;
    height: 30px;
    padding-top: 10px;
  }

  .step-completed .check {
    width: 15px;
    height: 10px;
  }

  .line.completed {
    width: 125px;
  }

  /* ==================== テキスト ================== */

  .form-text {
    margin-bottom: 60px;
    text-align: center;
  }

  .form-text h2 {
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_お問い合わせフォーム
  ==============================================================*/
  .form-box {
    padding-top: 128px;
}
  /* ==================== ステップ ================== */
  .step-completed {
    width: 36px;
    height: 36px;
    padding-top: 12px;
    margin-top: 20px;
  }

  .step-completed .check {
    width: 16px;
    height: 13px;
  }

  .line.completed {
    width: 265px;
  }

  .form-step {
    margin-left: 10px;
    margin-bottom: 80px;
  }

  /* ==================== テキスト ================== */
  .form-text h2 {
    font-size: 22px;
    letter-spacing: 0.12em;
    margin-bottom: 40px;
    margin-top: 32px;
  }

  .form-text, .btn-form-box {
    margin-left: 10px;
  }

  .form-text {
    margin-bottom: 40px;
  }

  .btn-form {
    margin-top: 0px;
  }


}