body {
  font-family: 'Noto Sans JP';
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　お問い合わせフォーム
  ==============================================================*/

  /* ==================== ステップ ================== */
  .step.completed {
    color: #4689E3;
  }

  .step.completed .step-text {
    margin-left: 0;
  }

  .step-completed {
    width: 25px;
    height: 25px;
    background-color: #4689E3;
    border-radius: 25px;
    padding-top: 9px;
    margin-top: 12px;
  }

  .step-completed .check {
    width: 13px;
    height: 8px;
    margin: 0 auto;
  }

  .line.completed {
    background-color: #4689E3;
    width: 85px;
    margin-left: -5px;
  }

  /* ==================== 確認内容 ================== */
  .info-box {
    margin-bottom: 64px;
  }

  .info-item {
    /* margin-bottom: 32px; */
    margin-bottom: 36px;
  }

  .info-item dt {
    margin-bottom: 4px;
    font-size: 12px;
    color: #A7A2A9;
    font-weight: normal;
  }

  .info-item.text dt {
    margin-bottom: 8px;
  }

  .info-item dd {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.08em;
  }

  /* ==================== ボタン ================== */
  .btn-form {
    /* display: inline-block; */
    display: block;
    margin: auto;
    text-align: center;
    width: 475px;
    margin-bottom: 16px;
  }

  .back-btn {
    color: #4689E3;
    background-color: #fff;
    border: solid 1px #4689E3;
  }

}

@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　TB_お問い合わせフォーム
  ==============================================================*/
  /* .form-box {
    padding-top: 56px;
  } */
  /* ==================== ステップ ================== */
  .form-step {
    margin-left: 10px;
    margin-bottom: 56px;
  }

  .step-completed {
    width: 30px;
    height: 30px;
    padding-top: 10px;
  }

  .step-completed .check {
    width: 15px;
    height: 10px;
  }

  .line.completed {
    width: 125px;
  }

  .form-text {
    margin-bottom: 70px;
  }

  /* ==================== 確認内容 ================== */
  .info-box {
    margin-bottom: 100px;
  }

  .info-item dt {
    font-size: 12px;
  }

  .info-item dd {
    font-size: 15px;
  }
}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_お問い合わせフォーム
  ==============================================================*/
  



}