body {
  font-family: 'Noto Sans JP';
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　　FAQ
  ==============================================================*/
  .faq {
    margin: 48px 14px 72px;
  }

  .faq h2 {
    font-size: 18px;
    margin: 50px 0 32px 17px;
    /* font-family: "Marcellus", serif; */
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
  }

  .faq-toggle {
    display: none;
  }

  .faq_box {
    position: relative;
    /* font-family: "Noto Sans JP", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 2em;
    margin-bottom: 20px;
    letter-spacing: 0.08em;
  }

  .faq-title,
  .faq-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
  }

  .faq-title {
    padding: 1em;
    display: block;
    background-color: #D6F7F5;
    padding: 20px 30px 20px 23px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 2em;
    display: flex;
    font-size: 16px;
    align-items: center;
  }

  .faq-title .title_text {
    margin-right: 20px;
    align-items: start;
    font-weight: 500;
  }

  .text_Q {
    display: flex;
  }

  .faq-title span {
    font-size: 20px;
    /* font-family: "Marcellus", serif; */
    font-family: 'Noto Sans JP';
    font-weight: 400;
    font-style: normal;
    margin-right: 7px;
  }

  .faq-title::after,
  .faq-title::before {
    content: "";
    position: absolute;
    right: 1.25em;
    width: 2px;
    height: 20px;
    background-color: #999;
    transition: all 0.3s;
    margin: auto 0;
  }

  .faq-title::after {
    transform: rotate(90deg);
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
  }

  .faq-content p {
    font-size: 14px;
    padding: 20px 23px;
    font-weight: normal;
  }

  .faq-toggle:checked + .faq-title + .faq-content {
    max-height: 1100px;
    transition: all 1.5s;
  }

  .faq-toggle:checked + .faq-title::before {
    transform: rotate(90deg) !important;
  }

}

@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　　TB_FAQ
  ==============================================================*/
  h1 {
    margin-left: 2px;
  }
  .faq {
    margin: 80px 70px 150px;
  }

  .sub_name {
    margin-bottom: 110px;
  }

  .faq h2 {
    margin: 60px 0 27px 15px;
  }

  .faq_A {
    letter-spacing: 0.1em;
  }

  .faq-title {
    pointer-events: auto;
  }
  .faq-title:before {
    display: block;
  }
  .faq-title:after {
    display: block;
  }

}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　　PC_FAQ
  ==============================================================*/
  h1 {
    margin-left: 10px;
  }

  .faq {
    max-width: 1080px;
    margin: 120px auto 240px;
  }
  .sub_name {
    font-size: 16px;
  }

  .faq-title_text {
    letter-spacing: 0.1em;
  }

  .faq h2 {
    font-size: 24px;
  }

  .faq-content p {
    font-size: 16px;
  }
}