@charset "UTF-8";
/* CSS Document */


body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans JP", "Noto Sans";
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #23221F;
  background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  /* スマホサイズのみ */
  .top-hiro-text {
    height: 100svh;
    align-content: end;
  }
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　トップ
  ==============================================================*/
  .top-img {
    position: absolute;
    width: 335px;
    height: 220px;
    /* top: 95px; */
    right: 10px;

    top: 75px;
  }


  .top-img img{
    width: 100%; /* APNGのサイズに合わせる */
    height: 100%;
    object-fit: cover;

    /* object-position: 8% 50%; */
    /* object-position: 90% 50%; */
    /* object-position: 45% 50%; */
  }

  /* topイラスト複数 */
  .top-img-container {
    position: relative;
    /* width: 100vw; */
    /* margin-top: 55px; */
    /* height: 93vh; */
    /* height: 92vh; */
  }

  .top-img .top-min{
    position: absolute;
  }

  .top-img .top-01 {
    width: 85px;
    height: 76px;
    top: -5px;
    left: 98px;
  }
  .top-img .top-02 {
    width: 145px;
    height: 120px;
    top: -5px;
    left: 180px;
  }
  .top-img .top-03 {
    width: 172px;
    height: 172px;
    top: 0px;
    left: 0px;
  }
  .top-img .top-04 {
    width: 80px;
    height: 71px;
    top: 150px;
    left: 255px;
    z-index: 2;
  }

  .top-img .top-05 {
    width: 180px;
    height: 180px;
    top: 42px;
    left: 136px;
  }

  .apng-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }


  .sec-top {
    font-family: 'Noto Sans JP';
    max-width: 100vw;
    /* background-color: #FBF6EE; */
    /* background-color: #5ce0d8; */
  }

  .top-text-box {
    padding: 0 15px 10px;
  }

  .top-text-box h1 {
    position: relative;
    /* font-size: 45px; */
    font-weight: bold;
    /* padding-top: 265px; */
    /* padding-top: 83vh; */
    /* padding-top: 100vh; */
    margin-bottom: 18px;
    letter-spacing: 0.1em;
    /* line-height: 1.1em; */
    z-index: 3;

    padding-top: 270px;
    font-size: 40px;
    line-height: 1.2em;
  }

  .top-text {
    position: relative;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
  }

  /* .top-reason {
    width: 200px;
    height: 48px;
    font-size: 14px;
    background-color: #4689E3;
    color: #ffffff;
    border-radius: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 26px;
  } */

  .sec-top .news {
    padding: 16px 20px 15px;
    max-width: 355px;
    background-color: #fff;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-weight: bold;
  }

  .sec-top .news-time {
    color: #39cac0;
    font-family: 'Noto Sans';
  }

  .sec-top .news-text {
    border-bottom: solid 1px #E6E6E6;
    padding-bottom: 10px;
    margin-top: 5px;
  }

  .sec-top .news .news-view p {
    color: #39cac0;
    text-align: right;
    margin-top: 5px;
    font-size: 15px;
  }

  /* ==================== 企業アニメーション ================== */
  .company-logo {
    /* padding: 10px 0; */
    /* padding: 50px 0 0; */
    padding: 35px 0 0;
    background-color: #f4f8f9;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: bold;

    /* 提案 */
    margin-top: 40px;
  }

  .company-logo-bg {
    background-color: #f4f8f9;
  }

  .company-logo h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .company-logo p {
    font-size: 14px;
    color: #39cac0;
    padding-bottom: 20px;
  }

  .company-logo img {
    /* height: 87px; */
    height: 115px;

    /* box-shadow: 0 10px 25px 0 rgba(126, 126, 126, 0.3); */
    /* padding-top: 35px; */
    /* background-color: #f4f8f9; */
    padding: 15px 0;

    /* 提案 */
    margin-bottom: 20px;
  }

  .company-logo .logo-slider {
    display: flex;
  }

  .text_scroll {
    animation: scroll 40s linear infinite;
  }

  .logos {
    flex-shrink: 0;
  }

  .company-logo ul li {
    display: inline-block;
  }

  .company-logo ul {
    padding: 0;
    margin: 0;
    display: flex;
  }

  .company-logo ul li > a img {
    transition: 0.4s;
  }
  .company-logo ul li > a img {
    max-width: 100% !important;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /*==============================================================
  　　SERVICE サービス紹介
  ==============================================================*/
  .sec-service {
    font-family: 'Noto Sans JP';
    /* padding: 100px 16px 50px 20px; */
    padding: 50px 16px 70px 20px;
  }

  .sec-title h2 {
    font-size: 50px;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .sec-title p {
    font-size: 13px;
    color: #39cac0;
    font-weight: bold;
    margin-top: 5px;
  }

  .ser-img-box {
    position: relative;
    margin-right: 10px;
    min-width: 125px;
  }

  .ser-img-box p {
    font-family: 'Noto Sans';
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    color: #4689E3;
    z-index: 1;
    margin-left: 15px;
  }

  .ser-02 .ser-img-box p {
    color: #f57d62;
  }

  .ser-03 .ser-img-box p {
    color: #ffd545;
  }

  .ser-img-box .ser-img {
    position: relative;
    margin-top: 60px;
    width: 125px;
    height: 125px;
    z-index: 1;
  }

  .ser-box {
    display: flex;
    margin: 40px 0 25px;
  }

  .ser-01 .ser-box {
    margin-top: 25px;
  }

  .ser-02 .ser-box {
    flex-direction: row-reverse;
  }

  .apng-container {
    position: relative;
    width: 125px; /* APNGのサイズに合わせる */
    height: 150px;
  }
  .apng-01, .apng-02, .apng-03, .apng-04 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .ser-btn {
    justify-items: center;
  }

  .ser-info-box {
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    align-items: center;
    border: solid 1.5px #efefef;
    border-radius: 25px;
    width: 180px;
    height: 52px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.11em;
    margin: 0 auto;
  }

  .ser-info-box p {
    margin-left: 15px;
  }

  .ser-info-box img {
    /* width: 10px;
    height: 7px; */
    width: 14px;
    height: 14px;
    padding: 3.2px 3px;
    margin-left: 15px;
    background-color: #4cd5cc;
    border-radius: 50%;
    margin-top: 2px;
  }

  .ser-text h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 50px 0 9px;
  }

  .ser-text p {
    font-size: 13px;
    line-height: 1.7em;
  }

  /*==============================================================
  　　SOLUTIONS ソリューション
  ==============================================================*/
  .sol-bg {
    background-color: #4cd5cc;
    padding: 80px 10px;
  }

  #sec-solutions {
    /* scroll-margin-top: 100px; */
    scroll-margin-top: 90px;
  }

  .sec-solutions {
    font-family: 'Noto Sans JP';
    padding: 55px 0 33px;
    background-color: #ffffff;
    /* background-color: #b31717; */
    border-radius: 65px;
  }

  .sec-sol-title h2 {
    margin-bottom: 18px;
    font-size: 50px;
    letter-spacing: 0.08em;
    font-weight: bold;
    text-align: center;
  }

  .sec-sol-title p {
    color: #39cac0;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    /* padding-top: 10px; */
    letter-spacing: 0.1em;
    margin-bottom: 40px;
  }

  .sol-text {
    margin-bottom: 25px;
    text-align: center;
    font-size: 13px;
    line-height: 2em;
  }

  .sol-box {
    position: relative;
    display: flex;
    width: 280px;
    justify-content: center;
    margin-top: 50px;
  }

  .sol-box p {
    border: 1.5px solid #f8f8f8;
    box-shadow: 5px 5px 8px 5px rgba(230, 230, 230, 0.5);
  }

   /* ==================== スライダー ================== */

  /* .slider-item{
    max-width: 100vw;
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100%;
    text-align: center;
  } */

  /* .slider {
    display: flex;
  } */

  .slider-item p {
    font-size: 12px;
    background-color: #ffffff;
    padding: 20px 55px 20px 20px;
    border-radius: 10px;
    line-height: 2em;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin: 0 auto;
    margin: 0 15px 50px;
  }


  .sol-box img {
    position: absolute;
    height: 120px;
    top: 20px;
    left: 215px;
  }

  /*==============================================================
  　　NEWS ニュース
  ==============================================================*/
  .news-bg {
    background-color: #f8f8f8;
    /* background-color: #efefef; */
    padding: 80px 10px 0;
  }

  .sec-news {
    font-family: 'Noto Sans JP';
    padding: 45px 0 70px;
    background-color: #fff;
    border-radius: 10px;
  }

  /* 一覧ボタン */
  article.news-title-box {
    display: flex;
    justify-content: space-between;
  }
  .news-title-box .ser-btn {
    margin-top: 10px;
    margin-right: 10px;
  }
  .news-title-box .ser-info-box {
    width: 110px;
    height: 45px;
    border-radius: 50px;
  }

  .sec-news .sec-title {
    margin-left: 30px;
    margin-bottom: 25px;
  }

  .news-content {
    position: relative;
  }

  .news-box {
    background-color: #D6F7F5;
    margin-left: 12px;
    /* padding: 25px 20px 60px 8px; */
    padding: 25px 15px 60px 10px;
    /* padding: 25px 10px 60px 10px; */
  }

  .news-box li {
    background-color: #ffffff;
    /* padding: 15px 0 13px 15px; */
    padding: 15px 0 15px 15px;
  }

  .news-box li:nth-of-type(2){
    margin: 8px 0;
  }

  .news-item {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-bottom: 7px;
  }

  .news-item time {
    font-family: 'Noto Sans';
    color: #39cac0;
    font-weight: 500;
  }

  .news-item p {
    background-color: #999999;
    color: #fff;
    padding: 3px 9px;
    border-radius: 25px;
    margin-bottom: 4px;
    margin-left: 5px;
  }

  .news-box .news-text {
    font-size: 13px;
    letter-spacing: 0.1em;
  }

  .news-img {
    position: absolute;
    top: 228px;
    right: 5px;
  }

  .news-img img {
    width: 125px;
  }


}


@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　　TB_トップ
  ==============================================================*/
  .sec-top {
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .top-img {
    width: 650px; /* APNGのサイズに合わせる */
    height: 450px;
    right: -30px;
    top: 110px;
  }

  .top-img .top-01 {
    width: 165px;
    height: 148px;
    top: -10px;
    left: 190px;
  }
  .top-img .top-02 {
    width: 280px;
    height: 230px;
    top: -8px;
    left: 350px;
  }
  .top-img .top-03 {
    width: 333px;
    height: 333px;
    top: -1px;
    left: 1px;
  }
  .top-img .top-04 {
    width: 153px;
    height: 136px;
    top: 295px;
    left: 495px;
  }
  .top-img .top-05 {
    width: 350px;
    height: 350px;
    top: 82px;
    left: 262px;
  }

  .top-text-box {
    padding: 0 45px 45px;
  }

  .top-text-box h1 {
    padding-top: 470px;
    font-size: 50px;
    line-height: 1.3em;
    margin-bottom: 17px;
  }

  .top-text {
    width: 360px;
    margin-bottom: 25px;
  }

  .top-reason {
    font-weight: normal;
  }

  /* ==================== 企業アニメーション ================== */
  .company-logo {
    /* padding: 50px 0 16px; */
    padding: 40px 0 16px;
    margin-top: 30px;
  }

  /*==============================================================
  　　TB_SERVICE サービス紹介
  ==============================================================*/
  .sec-service {
    /* padding: 50px 70px 67px; */
    padding: 70px 70px 80px;
  }

  .sec-title {
    display: flex;
    align-items: center;
  }

  .sec-title h2 {
    font-size: 55px;
    margin-right: 15px;
  }

  .sec-title p {
    font-size: 15px;
  }

  .ser-img-box {
    margin-right: 0;
    margin-top: 0;
  }

  .ser-01 .ser-box {
    margin-top: 30px;
}

  .ser-img-box p {
    position: relative;
    font-size: 95px;
    text-align: center;
    margin-left: 0;
    /* margin-right: 23px; */
  }

  .ser-img-box .ser-img {
    margin-top: -30px;
    width: 150px;
    height: 150px;
  }

  .ser-box {
    display: block;
    justify-items: center;
    margin: 30px 0 35px;

  }

  .ser-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .ser-text h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
  }

  .ser-text p {
    text-align: left;
    font-size: 14px;
    line-height: 1.8;
  }

  .ser-img-box {
    width: 190px;
  }

  .ser-img-box img {
    margin-left: 20px;
  }

  /*==============================================================
  　　TB_SOLUTIONS ソリューション
  ==============================================================*/
  .sol-bg {
    padding: 80px 20px;
  }

  .sec-solutions {
    padding: 50px 0 65px;
  }

  .sec-sol-title h2 {
    font-size: 55px;
  }

  .sec-sol-title p {
    font-size: 15px;
  }

  .sol-text {
    font-size: 14px;
    line-height: 2.3em;
  }

  .sol-box {
    width: 305px;
  }

  .slider-item p {
    font-size: 13px;
    width: 180px;
    height: 220px;
    padding: 23px 65px 25px 20px;
  }

  .sol-box img {
    height: 200px;
    top: 35px;
    left: 180px;
  }

  /*==============================================================
  　　TB_NEWS ニュース
  ==============================================================*/
  .news-bg {
    padding: 80px 20px 0;
  }

  .sec-news {
    padding: 83px 0 120px;
  }

  /* 一覧ボタン */
  .news-title-box .ser-btn {
    margin-top: 10px;
    margin-right: 55px;
  }
  .news-title-box .ser-info-box {
    width: 150px;
    height: 55px;
    border-radius: 50px;
  }

  .sec-news .sec-title {
    margin-left: 70px;
  }

  .news-content {
    margin-top: -5px;
  }

  .news-box {
    margin: 0 55px 0 0;
    padding: 60px 80px 55px 50px;
  }

  .news-box li {
    display: flex;
    align-items: center;
  }

  .news-item {
    margin-bottom: 0;
  }

  .news-item time {
    font-size: 13px;
    margin-right: 12px;
  }

  .news-item p {
    padding: 5px 15px;
    margin-right: 12px;
    /* min-width: 99px; */
  }

  .news-box .news-text {
    font-size: 14px;
  }

  .news-img {
    top: 135px;
    right: 5px;
  }

  .news-img img {
    width: 220px;
  }
}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_トップ
  ==============================================================*/
  /* .top-img {
    width: 750px; APNGのサイズに合わせる
    height: 500px;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin-left: 300px;
  } */

  .top-img {
    width: 850px; /* APNGのサイズに合わせる */
    height: 567px;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin-left: 345px;
  }

  .top-img .top-01 {
    width: 215px;
    height: 193px;
    top: -15px;
    left: 249px;
  }
  .top-img .top-02 {
    width:360px;
    height: 288px;
    top: 0px;
    left: 459px;
  }
  .top-img .top-03 {
    width: 437px;
    height: 437px;
    top: -1px;
    left: 0px;
  }
  .top-img .top-04 {
    width: 204px;
    height: 181px;
    top: 385px;
    left: 646px;
  }

  .top-img .top-05 {
    width: 458px;
    height: 458px;
    top: 107px;
    left: 343px;
  }

  .top-text-box {
    padding: 0 100px 45px;
    /* 追加 */
    /* max-width: 1400px; */
    max-width: 1500px;
    margin: 0 auto;
    /* height: 100vh;
    align-content: center; */
  }

  .top-text-box h1 {
    font-size: 80px;
    margin-bottom: 33px;
    padding-top: 230px;
    /* padding-top: 150px; */
  }

  .top-text {
    font-size: 15px;
  }

  .top-reason {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 47px;
  }

  .sec-top .news {
    padding: 20px 22px;
    max-width: 450px;
    font-size: 16px;
  }

  .sec-top .news-time {
    font-size: 15px;
  }

  .sec-top .news-text {
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .sec-top .news .news-view p {
    margin-top: 11px;
  }

  /* ==================== 企業アニメーション ================== */
  .company-logo {
    /* padding: 80px 0 30px; */
    padding: 60px 0 30px;
    margin-top: 100px;
  }

  .company-logo h2 {
    font-size: 30px;
  }

  .company-logo p {
    font-size: 16px;
  }

  /* 上下の線追加スタイル */
  .company-logo img {
    height: 125px;
    padding: 20px 0;
  }

  /*==============================================================
  　　PC_SERVICE サービス紹介
  ==============================================================*/
  .sec-service {
    /* padding: 60px 0 105px; */
    padding: 120px 0 130px;
    max-width: 1100px;
    /* justify-content: center; */
    display: grid;
    justify-self: center;
    margin: 0 70px;
  }

  .sec-title h2 {
    font-size: 75px;
    margin: 0;
  }

  .sec-title p {
    font-size: 20px;
    margin-left: 40px;
  }

  .ser-img-box p {
    font-size: 120px;
  }

  .ser-img-box img {
    margin-left: 0px;
  }

  .ser-img-box .ser-img {
    width: 210px;
    height: 210px;
  }

  .ser-text h3 {
    font-size: 24px;
    margin: 23px 0 18px;
  }

  .ser-text p {
    font-size: 16px;
  }

  .ser-info-box {
    font-size: 13px;
    width: 290px;
    height: 55px;
    border-radius: 30px;
  }

  .ser-info-box p {
    margin-left: 25px;
  }

  .ser-info-box img {
    margin-top: 0;
    margin-left: 25px;
  }

  /*==============================================================
  　　PC_SOLUTIONS ソリューション
  ==============================================================*/
  .sol-bg {
    padding: 130px 20px;
    justify-items: center;
  }

  .sec-solutions {
    padding: 75px 0 60px;
    width: 100%;
    max-width: 1300px;
  }

  .sec-solutions h2 {
    font-size: 75px;
    /* margin-bottom: 40px; */
  }

  .sec-sol-title h2 {
    font-size: 75px;
    margin-bottom: 20px;
  }

  .sec-sol-title p {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .slider {
    margin-bottom: 45px;
  }

  .sol-text {
    font-size: 16px;
    margin-bottom: 90px;
  }

  .sol-box {
    width: 300px;
    height: 280px;
    /* margin-left: 50px; */
    margin-left: 22%;
  }

  .slider-item p {
    font-size: 15px;
    width: 300px;
    height: 140px;
    padding: 0;
    padding: 0 60px 0 30px;
    align-content: center;
    margin: 0;
  }

  .sol-box img {
    top: 20px;
    left: 230px;
  }

  /*==============================================================
  　　PC_NEWS ニュース
  ==============================================================*/
  .news-bg {
    padding: 130px 20px 0;
  }

  .sec-news-all {
    position: relative;
    /* width: 100vw; */
    background-color: aqua;
  }

  .sec-news {
    max-width: 1300px;
    width: 100%;
    display: grid;
    justify-self: center;
    /* margin: 0 70px; */
    padding: 90px 100px 120px;
  }

  /* 一覧ボタン */
  .news-title-box .ser-btn {
    margin-top: 15px;
    /* margin-right: 55px; */
  }
  .news-title-box .ser-info-box {
    width: 200px;
    height: 70px;
  }

  .sec-news .sec-title {
    margin-left: 0;
    /* max-width: 1100px;
    display: grid;
    justify-self: center; */
  }

  .news-box li {
    max-width: 870px;
    padding: 20px 40px;
    /* display: grid;
    justify-self: center; */
  }

  .news-content {
    margin-top: 60px;
  }

  .news-content-bg {
    background-color: #4689E3;
  }

  .news-box {
    /* margin: 0 55px 0 0; */
    padding: 45px 215px 45px 30px;
  }

  .news-item time {
    font-size: 15px;
    margin-right: 20px;
  }

  .news-item p {
    padding: 3% 20px;
    margin-right: 20px;
  }

  .news-box .news-text {
    font-size: 16px;
  }

  .news-img {
    top: 130px;
    right: 0px;
  }

  .news-img img {
    width: 250px;
  }



}