@charset "UTF-8";
/* CSS Document */


body {
  /* font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans JP", "Noto Sans";
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #23221F;
  background-color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  /* スマホサイズのみ */
  .top-hiro-text {
    height: 100svh;
    align-content: end;
  }
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　トップ
  ==============================================================*/
  .top-img {
    position: absolute;
    width: 335px;
    height: 220px;
    /* right: 10px; */
    top: 75px;
    overflow: hidden;
    max-width: 100vw;
    /* height: 250px; */


    /* 修正後1 */
    /* top: 55px;

    width: 315px;
    height: 207px;
    right: 20px; */

    /* left: 15px; */


    /* 新_修正版 */
    width: 495px;
    height: 325px;
    top: 65px;
    /* height: 330px; */
    /* left: -10px; */
    /* padding-right: 10px; */


    /* 新_修正版2（b28px） */
    /* top: 65px; */

    /* 新_修正版（b36px） */


    /* 再調整版 */
    /* top: 67px; */
  }

  .top-content {
    position: relative;
    margin-bottom: 8px;
  }

  .top-img img{
    width: 100%; /* APNGのサイズに合わせる */
    height: 100%;
    object-fit: cover;
    /* overflow: hidden; */
    opacity: 0.85;
    /* background-position: 0%  50%; */
    /* width: 495px;
    height: 325px;
    left: -10px;
    padding-right: 30px; */



    /* object-position: 8% 50%; */
    /* object-position: 90% 50%; */
    /* object-position: 45% 50%; */
  }

  /* topイラスト複数 */
  .top-img-container {
    position: relative;
    /* width: 100vw; */
    /* margin-top: 55px; */
    /* height: 93vh; */
    /* height: 92vh; */
  }

  .top-img .top-min{
    position: absolute;
  }

  .top-img .top-01 {
    width: 85px;
    height: 76px;
    top: -5px;
    left: 98px;

    width: 121px;
    height: 108px;
    left: 133px;
  }
  .top-img .top-02 {
    width: 145px;
    height: 120px;
    top: -5px;
    left: 180px;

    width: 205px;
    height: 170px;
    left: 252px;
  }
  .top-img .top-03 {
    width: 172px;
    height: 172px;
    top: 0px;
    left: 0px;

    width: 250px;
    height: 250px;
    top: 0px;
    left: -11px;
  }
  .top-img .top-04 {
    width: 80px;
    height: 71px;
    top: 150px;
    left: 255px;
    z-index: 2;

    width: 116px;
    height: 103px;
    top: 222px;
    left: 360px;
  }
  .top-img .top-05 {
    width: 180px;
    height: 180px;
    top: 42px;
    left: 136px;

    width: 265px;
    height: 265px;
    left: 141px;
    left: 185px;
    top: 60px;
  }

  .apng-graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }


  .sec-top {
    font-family: 'Noto Sans JP';
    max-width: 100vw;
    /* background-color: #FBF6EE; */
    /* background-color: #5ce0d8; */
    /* height: 100svh; */

    /* 修正後1 */
    align-content: center;
    
  }

  .top-text-box {
    padding: 0 15px 10px;
  }

  /* .top-hiro-text {
    height: 100svh;
    align-content: flex-end;
  } */

  .top-text-box h1 {
    position: relative;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: 0.1em;
    z-index: 3;
    /* padding-top: 270px; */
    line-height: 1.2em;
    /* font-size: 36px; */
    /* line-height: 1.35; */

    /* 修正版1 */
    /* font-size: 22px;
    line-height: 1.6; */
    /* padding-top: 270px; */
    /* margin-bottom: 32px; */

    /* padding-top: 205px; */


    /* 修正版2 */
    /* margin-bottom: 30px; */

    /* 修正版3 */
    /* margin-bottom: 28px; */

    /* margin-bottom: 24px; */

    /* padding-top: 209px; */


    /* 新_修正版 */
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 10px;
    letter-spacing: 0.06em;

    /* 新_修正版（b28px） */
    /* margin-bottom: 12px; */

    /* 新_修正版（b36px） */
    /* margin-bottom: 9px; */

    /* 再調整版 */
    /* margin-bottom: 18px; */

  }

  .top-text-box .top-hiro-text .title-space {
    margin-left: 0.08em;
  }

  .top-text {
    position: relative;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    letter-spacing: 0.1em;


    /* 修正後1 */
    /* font-size: 12px; */
    /* margin-bottom: 36px; */

    /* 修正後2 */
    /* margin-bottom: 40px; */
    /* margin-bottom: 32px; */

    /* 新_修正版 */
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 24px;
    letter-spacing: 0.06em;

    /* 新_修正版（b28px） */
    /* margin-bottom: 25px; */

    /* 新_修正版（b36px） */
    /* margin-bottom: 23px; */


    /* 再調整版 */
    /* margin-bottom: 48px;
    line-height: 1.7;
    letter-spacing: 0.1em; */





  }

  .top-contact .contact-link {
    letter-spacing: 0.13em;
    padding: 16px;
    justify-content: center;
    font-weight: 500;
    /* font-weight: bold; */
    /* font-size: 16px; */
    font-size: 17px;
    /* font-size: 18px; */
    /* font-size: 20px; */
    max-width: none;

    /* 新_修正版 */
    margin-bottom: 32px;

    /* 新_修正版（b28px） */
    /* margin-bottom: 28px; */

    /* 新_修正版（b36px） */
    /* margin-bottom: 36px; */
  }

  /* .top-reason {
    width: 200px;
    height: 48px;
    font-size: 14px;
    background-color: #4689E3;
    color: #ffffff;
    border-radius: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 26px;
  } */

  .sec-top .news {
    padding: 16px 20px 15px;
    max-width: 355px;
    background-color: #fff;
    border: 1px solid #DADADA;
    font-size: 13px;
    font-weight: 500;

    /* 修正後1 */
    /* max-width: 250px;
    font-size: 9px;
    padding: 12px 14px 10px; */


  }

  .sec-top .news-item p {
    font-weight: normal;
    margin-bottom: 0.5px;
  }

  /* 修正後1 */
  /* .top-text-box .news-item p.top-news-tag {
    font-size: 5px;
    margin-bottom: 0px;
    padding: 2.5px 8px;
  } */

  .sec-top .news-time {
    color: #A7A2A9;
    font-family: 'Noto Sans';
    letter-spacing: 0.07em;
    font-weight: 500;

    /* 修正後1 */
    /* font-size: 9px; */
  }

  .sec-top .news-text {
    border-bottom: solid 1px #E6E6E6;
    padding-bottom: 13px;
    margin-top: 9px;
    letter-spacing: 0.09em;

    /* 修正後1 */
    /* padding-bottom: 10px; */

  }

  .sec-top .news .news-view p {
    color: #39cac0;
    text-align: right;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.1em;

    /* 修正後1 */
    /* font-size: 8px;
    margin-top: 8px; */

  }

  /* ==================== 企業アニメーション ================== */
  .company-logo {
    padding: 35px 0 0;
    background-color: #f4f8f9;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
  }

  .company-logo-bg {
    background-color: #f4f8f9;
  }

  .company-logo h2 {
    font-size: 22px;
    margin-bottom: 10.5px;
  }

  .company-logo p {
    font-size: 11px;
    color: #39cac0;
    padding-bottom: 20px;
    letter-spacing: 0.09em;
  }
  
  .logo-slider {
    height: 115px;
    position: relative;
    white-space: nowrap;
  }
  
  .logo-track {
    display: flex;
    /* width: 200%; 無限ループ用：2セット分の幅 */
    animation: scroll 20s linear infinite;

    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    will-change: transform;
    transform-style: preserve-3d;
  }
  
  /* @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-2041px); 2セット中の1セット分を左へ
    }
  } */
  @keyframes scroll {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-2041px, 0, 0);
    }
  }
  
  .company-logo ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 80px;
  }
  
  .company-logo ul li {
    display: inline-block;
    list-style: none;
    flex-shrink: 0;
  }
  
  /* ロゴごとの高さ調整 */
  .logo-track .logo-01 img { height: 35px; }
  .logo-track .logo-02 img { height: 70px; }
  .logo-track .logo-03 img { height: 40px; }
  .logo-track .logo-04 img { height: 40px; }
  .logo-track .logo-05 img { height: 45px; }
  .logo-track .logo-06 img { height: 55px; }
  .logo-track .logo-07 img { height: 38px; }
  .logo-track .logo-08 img { height: 26px; }
  .logo-track .logo-09 img { height: 37px; }
  .logo-track .logo-10 img { height: 75px; }
  




  /*==============================================================
  　　SERVICE サービス紹介
  ==============================================================*/
  .sec-service {
    font-family: 'Noto Sans JP';
    /* padding: 100px 16px 50px 20px; */
    padding: 50px 16px 70px 20px;
  }

  .sec-title h2 {
    font-size: 50px;
    margin-left: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  .sec-title p {
    font-size: 13px;
    color: #39cac0;
    font-weight: bold;
    margin-top: 5px;
  }

  .ser-img-box {
    position: relative;
    margin-right: 10px;
    min-width: 125px;
  }

  .ser-img-box p {
    font-family: 'Noto Sans';
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    color: #4689E3;
    z-index: 1;
    margin-left: 15px;
  }

  .ser-02 .ser-img-box p {
    color: #f57d62;
  }

  .ser-03 .ser-img-box p {
    color: #ffd545;
  }

  .ser-img-box .ser-img {
    position: relative;
    margin-top: 60px;
    width: 125px;
    height: 125px;
    z-index: 1;
  }

  .ser-box {
    display: flex;
    margin: 40px 0 25px;
  }

  .ser-01 .ser-box {
    margin-top: 25px;
  }

  .ser-02 .ser-box {
    flex-direction: row-reverse;
  }

  .apng-container {
    position: relative;
    width: 125px; /* APNGのサイズに合わせる */
    height: 150px;
  }
  .apng-01, .apng-02, .apng-03, .apng-04 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .ser-btn {
    justify-items: center;
  }

  .ser-info-box {
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    align-items: center;
    border: solid 1.5px #efefef;
    border-radius: 25px;
    width: 180px;
    height: 52px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.11em;
    margin: 0 auto;
  }

  .ser-info-box p {
    margin-left: 5px;
  }

  .ser-info-box img {
    /* width: 10px;
    height: 7px; */
    width: 14px;
    height: 14px;
    padding: 3.2px 3px;
    margin-left: 15px;
    background-color: #4cd5cc;
    border-radius: 50%;
    margin-top: 1px;
  }

  .ser-text h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 50px 0 9px;
  }

  .ser-text p {
    font-size: 13px;
    line-height: 1.7em;
  }

  /*==============================================================
  　　SOLUTIONS ソリューション
  ==============================================================*/
  .sol-bg {
    background-color: #4cd5cc;
    padding: 80px 10px;
  }

  .sec-solutions {
    font-family: 'Noto Sans JP';
    padding: 55px 0 33px;
    background-color: #ffffff;
    /* background-color: #b31717; */
    border-radius: 65px;
  }

  .sec-sol-title h2 {
    margin-bottom: 18px;
    font-size: 50px;
    letter-spacing: 0.08em;
    font-weight: bold;
    text-align: center;
  }

  .sec-sol-title p {
    color: #39cac0;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    /* padding-top: 10px; */
    letter-spacing: 0.1em;
    margin-bottom: 40px;
  }

  .sol-text {
    margin-bottom: 25px;
    text-align: center;
    font-size: 13px;
    line-height: 2em;
  }

  .sol-box {
    position: relative;
    display: flex;
    width: 280px;
    justify-content: center;
    margin-top: 50px;
  }

  .sol-box p {
    border: 1.5px solid #f8f8f8;
    box-shadow: 5px 5px 8px 5px rgba(230, 230, 230, 0.5);
  }

   /* ==================== スライダー ================== */

  /* .slider-item{
    max-width: 100vw;
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100%;
    text-align: center;
  } */

  /* .slider {
    display: flex;
  } */

  .slider-item p {
    font-size: 12px;
    background-color: #ffffff;
    padding: 20px 55px 20px 20px;
    border-radius: 10px;
    line-height: 2em;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin: 0 auto;
    margin: 0 15px 50px;
  }


  .sol-box img {
    position: absolute;
    height: 120px;
    top: 20px;
    left: 215px;
  }

  /*==============================================================
  　　NEWS ニュース
  ==============================================================*/
  .news-bg {
    background-color: #f8f8f8;
    /* background-color: #efefef; */
    padding: 80px 10px 0;
  }

  .sec-news {
    font-family: 'Noto Sans JP';
    padding: 45px 0 70px;
    background-color: #fff;
    border-radius: 10px;
  }

  /* 一覧ボタン */
  .news-title-box {
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.11em;
  }
  .news-btn {
    border: solid 1.5px #efefef;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    max-height: 45px;
    margin-top: 10px;
    margin-right: 10px;
    align-content: center;
  }
  .news-btn.sp {
    margin: 0;
    width: 180px;
    max-height: 52px;
    height: 52px;
    margin: 0 auto;
    margin-top: 64px;
    justify-items: center;
  }
  .news-info-box p {
    margin-left: 5px;
  }
  .news-info-box {
    display: flex;
    width: 180px;
    justify-content: center;


    /* height: 45px; */
    /* border-radius: 50px; */
  }
  /* .news-info-box.sp {
    justify-content: center;
  } */
  .news-info-box img {
    width: 14px;
    height: 14px;
    padding: 3.2px 3px;
    margin-left: 15px;
    background-color: #4cd5cc;
    border-radius: 50%;
    margin-top: 0.5px;
  }

  .sec-news .sec-title {
    margin-left: 30px;
    margin-bottom: 25px;
  }

  .news-content {
    position: relative;
  }

  .news-box {
    background-color: #D6F7F5;
    margin-left: 12px;
    /* padding: 25px 20px 60px 8px; */
    padding: 25px 15px 60px 10px;
    /* padding: 25px 10px 60px 10px; */
  }

  .news-box li {
    background-color: #ffffff;
    /* padding: 15px 0 13px 15px; */
    padding: 15px 0 15px 15px;
  }

  .news-box li:nth-of-type(2){
    margin: 8px 0;
  }

  .news-item {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-bottom: 8px;
  }

  .news-item time {
    font-family: 'Noto Sans';
    color: #A7A2A9;
    font-weight: 500;
  }

  .news-item p, .top-text-box .news-item p {
    /* background-color: #999999; */
    color: #fff;
    padding: 3px 8px;
    border-radius: 25px;
    /* margin-bottom: 1px; */
    margin-left: 10px;
    font-size: 8px;
  }

  .news-box .news-text {
    font-size: 13px;
    letter-spacing: 0.1em;
  }

  .news-img {
    position: absolute;
    top: 228px;
    right: 5px;
  }

  .news-img img {
    width: 125px;
  }


}


@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */
  .top-hiro-text {
    height: 100svh;
    align-content: end;
  }
  /*==============================================================
  　　　TB_トップ
  ==============================================================*/
  .sec-top {
    width: 100vw;
    position: relative;
    overflow: hidden;
  }

  .top-img {
    width: 650px; /* APNGのサイズに合わせる */
    height: 450px;
    /* right: -30px; */
    top: 110px;

    width: 900px;
    height: 591px;
    /* right: -15px; */
    top: 83px;


    /* 50px */
    /* top: 112px;
    top: 105px; */

    /* 52px */
    /* top: 100px; */

    /* 54px */
    /* top: 95px; */

    /* 48px */
    /* top: 95px; */
    /* top: 95px; */



    /* 提案２ */
    /* width: 1010px;
    height: 663px;
    top: 80px; */

  }

  .top-img img{
    width: 100%; /* APNGのサイズに合わせる */
    height: 100%;
    object-fit: cover;
    /* padding-right: 100px; */
    /* overflow: auto; */

    /* width: 900px;
    height: 591px;
    padding-right: 85px; */

    /* 提案２ */
    /* width: 1010px;
    height: 663px;
    padding-right: 60px; */

  }

  .top-img .top-01 {
    width: 224px;
    height: 201px;
    top: -15px;
    left: 225px;
  }
  .top-img .top-02 {
    width: 373px;
    height: 306px;
    top: -5px;
    left: 443px;
  }
  .top-img .top-03 {
    width: 455px;
    height: 455px;
    top: -1px;
    left: -35px;
  }
  .top-img .top-04 {
    width: 212px;
    height: 188px;
    top: 402px;
    left: 638px;
  }
  .top-img .top-05 {
    width: 485px;
    height: 485px;
    top: 106px;
    left: 320px;
  }

  .top-text-box {
    padding: 0 45px 45px;
  }

  .top-text-box h1 {
    padding-top: 530px;
    /* font-size: 56px; */
    /* line-height: 1.3em; */
    /* margin-bottom: 17px; */

    font-size: 50px;
    padding-top: 510px;
    /* 18px */
    padding-top: 503px;


    font-size: 52px;
    padding-top: 505px;
    /* 18px */
    /* padding-top: 500px; */
    /* 17px */
    /* padding-top: 500px; */

    /* font-size: 54px;
    padding-top: 500px; */
    /* 18px */
    /* padding-top: 495px; */

    /* font-size: 48px;
    padding-top: 505px; */
    /* 18px */
    /* padding-top: 500px; */



    line-height: 1.5;
    /* margin-bottom: 38px; */

    /* margin-bottom: 36px; */
    margin-bottom: 34px;


    /* 提案２ */
    /* padding-top: 450px; */

    padding-top: 0;

  }

  .top-text-box .top-hiro-text .title-space {
    margin-left: 0.23em;
  }

  .top-text {
    /* width: 360px; */
    margin-bottom: 25px;

    /* font-size: 14px; */

    /* font-size: 16px; */
    /* font-size: 17px; */
    /* font-size: 18px; */
    /* font-size: 19px; */
    font-size: 19.5px;
    line-height: 2.2;
    margin-bottom: 32px;

    /* 修正１ */
    margin-bottom: 44px;

    /* margin-bottom: 46px; */
  }

  /* .top-reason {
    font-weight: normal;
  } */

  .top-contact .contact-link {
    /* width: 355px; */
    width: 330px;
    /* width: 400px; */
    /* width: 470px; */
    margin-bottom: 48px;
    font-size: 20px;
    padding: 22px;
    border-radius: 50px;
  }


  /* SP調整用 */
  .top-text-box .news-item p.top-news-tag {
    font-size: 9px;
    margin-bottom: 0px;
    padding: 4px 8px;
  }

  /* SP調整用 */
  .sec-top .news-time {
    font-size: 13px;
  }

  /* SP調整用 */
  .sec-top .news-text {
    padding-bottom: 13px;
  }

  .sec-top .news-item p {
    margin: 0 16px 1px;
    margin-bottom: 1.2px;
  }

  /* SP調整用 */
  .sec-top .news {
    padding: 16px 20px 15px;
    max-width: 355px;
    font-size: 13px;
    margin-top: 8px;
  }

  /* SP調整用 */
  .sec-top .news .news-view p {
    margin-top: 10px;
    font-size: 12px;
  }





  /* ==================== 企業アニメーション ================== */
  .company-logo {
    /* padding: 50px 0 16px; */
    padding: 40px 0 16px;
    margin-top: 30px;
  }

  .company-logo h2 {
    margin-bottom: 9.5px;
  }

  .company-logo p {
    font-size: 10px;
    padding-bottom: 26px;
  }


  /*==============================================================
  　　TB_SERVICE サービス紹介
  ==============================================================*/
  .sec-service {
    /* padding: 50px 70px 67px; */
    padding: 70px 70px 80px;
  }

  .sec-title {
    display: flex;
    align-items: center;
  }

  .sec-title h2 {
    font-size: 55px;
    margin-right: 15px;
  }

  .sec-title p {
    font-size: 15px;
  }

  .ser-img-box {
    margin-right: 0;
    margin-top: 0;
  }

  /* 改行高さ調整 */
  .ser-text p.text-margin {
    height: 75.56px;
  }

  .ser-01 .ser-box {
    margin-top: 30px;
}

  .ser-img-box p {
    position: relative;
    font-size: 95px;
    text-align: center;
    margin-left: 0;
    /* margin-right: 23px; */
  }

  .ser-img-box .ser-img {
    margin-top: -30px;
    width: 150px;
    height: 150px;
  }

  .ser-box {
    display: block;
    justify-items: center;
    margin: 30px 0 35px;

  }

  .ser-all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .ser-text h3 {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
  }

  .ser-text p {
    text-align: left;
    font-size: 14px;
    line-height: 1.8;
  }

  .ser-img-box {
    width: 190px;
  }

  .ser-img-box img {
    margin-left: 20px;
  }

  /*==============================================================
  　　TB_SOLUTIONS ソリューション
  ==============================================================*/
  .sol-bg {
    padding: 80px 20px;
  }

  .sec-solutions {
    padding: 50px 0 65px;
  }

  .sec-sol-title h2 {
    font-size: 55px;
  }

  .sec-sol-title p {
    font-size: 15px;
  }

  .sol-text {
    font-size: 14px;
    line-height: 2.3em;
  }

  .sol-box {
    width: 305px;
    margin-left: 100%;

  }

  .slider-item {
    margin: 0 150px;
  }

  .slider-item p {
    font-size: 13px;
    /* width: 180px; */
    /* height: 220px; */
    /* padding: 23px 65px 25px 20px; */

    padding: 0 60px 0 20px;
    align-content: center;
    width: 265px;
    height: 115px;
    margin: 0 15px 120px;
  }

  .sol-box img {
    /* height: 200px; */
    top: 25px;
    /* left: 180px; */
    left: 220px;

    height: 170px;

  }

  /*==============================================================
  　　TB_NEWS ニュース
  ==============================================================*/
  .news-bg {
    padding: 80px 20px 0;
  }

  .sec-news {
    padding: 83px 0 120px;
  }

  .news-title-box {
    align-items: center;

  }

  /* 一覧ボタン */
  .news-title-box .news-btn {
    width: 180px;
    max-height: 55px;
    height: 55px;
    /* margin-top: 10px; */
    margin-bottom: 25px;
    margin-top:  2px;
    margin-right: 55px;
  }
  .news-title-box .news-info-box {
    width: 150px;
    border-radius: 25px;
    margin: 0 auto;
  }

  .sec-news .sec-title {
    margin-left: 70px;
  }

  .news-content {
    margin-top: -5px;
  }

  .news-box {
    margin: 0 55px 0 0;
    padding: 60px 80px 55px 50px;
  }

  .news-box li a {
    display: flex;
    align-items: center;
  }

  .news-item {
    margin-bottom: 0;
  }

  .news-item time {
    font-size: 13px;
    /* margin-right: 12px; */
  }

  .news-item p, .sec-top .news-item p  {
    /* padding: 3px auto; */
    padding: 4px 8px;
    margin: 0 16px;
    margin-bottom: 0;
    width: 65px;
    text-align: center;
    font-size: 9px;
  }

  .sec-top .news-item p {
    margin-bottom: 0.5px;
  }

  .news-box .news-text {
    font-size: 14px;
  }

  .news-img {
    top: 135px;
    right: 5px;
  }

  .news-img img {
    width: 220px;
  }
}

@media screen and (min-width: 820px) {
  /* タブレット（ipad Air 820×1180）用レイアウト 820px以上の範囲に収めるデザインはこの中に記述 */
  .top-hiro-text {
    height: 100svh;
    align-content: end;
  }
  /*==============================================================
  　　　TB−２_トップ
  ==============================================================*/
  .top-img {
    width: 930px;
    height: 610px;
    top: 95px;
    /* padding-right: 85px; */
  }

  .top-img .top-01 {
    width: 231px;
    height: 206.5px;
    left: 233px;
  }
  .top-img .top-02 {
    width: 377px;
    height: 312px;
    top: -0px;
    left: 463px;
  }
  .top-img .top-03 {
    width: 470px;
    height: 470px;
    top: 0px;
    left: -35px;
  }
  .top-img .top-04 {
    width: 217px;
    height: 192.5px;
    top: 417px;
    left: 661px;
  }
  .top-img .top-05 {
    width: 500px;
    height: 500px;
    top: 112px;
    left: 332px;
  }

  .top-contact .contact-link {
    width: 330px;
    margin-bottom: 72px;
    font-size: 20px;
    padding: 22px;
    border-radius: 50px;
  }

  .slider-item p {
    padding: 0 57px 0 20px;
    width: 265px;
    height: 115px;
    margin: 0 15px 130px;
  }

}

@media screen and (min-width: 1081px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_トップ
  ==============================================================*/
  /* .top-img {
    width: 750px; APNGのサイズに合わせる
    height: 500px;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    margin-left: 300px;
  } */

  .top-img {
    width: 900px; /* APNGのサイズに合わせる */
    height: 600px;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* margin-left: 345px; */
    margin-left: 350px;

    /* top: 215px; */
    /* margin-left: 357px; */
    /* margin-left: 355px; */
  }

  .top-img img{
    width: 100%; /* APNGのサイズに合わせる */
    height: 100%;
    object-fit: cover;
    /* overflow: hidden; */
    /* opacity: 0.85; */
    /* width: 495px;
    height: 325px;
    left: -10px; */
    padding-right: 0px;
  }

  .top-img .top-01 {
    /* width: 215px;
    height: 193px;
    top: -15px;
    left: 249px;*/

    width: 227px;
    height: 204px;
    top: -15px;
    left: 264px;
  }
  .top-img .top-02 {
    /* width:360px;
    height: 288px;
    top: 0px;
    left: 459px; */

    width:381px;
    height: 305px;
    top: 0px;
    left: 485px;
  }
  .top-img .top-03 {
    /* width: 437px;
    height: 437px;
    top: -1px;
    left: 0px; */

    width: 463px;
    height: 463px;
    top: -1px;
    left: 0px;
  }
  .top-img .top-04 {
    /* width: 204px;
    height: 181px;
    top: 385px;
    left: 646px; */

    width: 215px;
    height: 191px;
    top: 408px;
    left: 685px;
  }

  .top-img .top-05 {
    /* width: 458px;
    height: 458px;
    top: 107px;
    left: 343px; */

    width: 490px;
    height: 490px;
    top: 110px;
    left: 362px;
  }

  .top-text-box {
    padding: 0 100px 45px;
    /* max-width: 1500px; */
    margin: 0 auto;


    /* 旧提案1２ */
    /* max-width: 1504px; */

    /* 提案1 */
    max-width: 1780px;

    /* 小さいやつ */
    max-width: 1760px;

  }

  .top-text-box h1 {
    line-height: 1.37;
    line-height: 1.4;
    font-size: 62px;
    margin-bottom: 50px;
    line-height: 1.57;
    padding-top: 248px;
  }

  .top-text {
    font-size: 15px;
    /* margin-bottom: 25px; */


    /* 旧提案１2 */
    width: auto;
    /* margin-bottom: 25px; */
    /* line-height: 2; */


    /* 提案１ */
    font-size: 20px;
    /* margin-bottom: 32px; */
    line-height: 2.3;

    margin-bottom: 60px;
  }

  .top-reason {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 47px;
  }

  .sec-top {
    height: calc(100vh - 100px);
  }

  .sec-top .news {
    padding: 20px 22px;
    max-width: 450px;
    font-size: 16px;
  }

  .top-text-box .news-item p {
    padding: 5px 8px;
    margin: 0 20px 1px;
    font-size: 10px;
    width: 80px;
  }

  .top-hiro-text {
    height: auto;
    align-content: auto;
  }

  .sec-top .news-time {
    font-size: 15px;
  }

  .sec-top .news-text {
    margin-top: 15px;
    padding-bottom: 15px;
    letter-spacing: 0.1em;
    font-weight: 500;
  }

  .sec-top .news .news-view p {
    margin-top: 11px;
    font-size: 14px;
    letter-spacing: 0.15em;
  }

  /* ==================== 企業アニメーション ================== */
  .company-logo {
    /* padding: 80px 0 30px; */
    padding: 60px 0 30px;
    margin-top: 100px;
  }

  .company-logo h2 {
    font-size: 30px;
    margin-bottom: 14px;
  }

  .company-logo p {
    font-size: 14px;
    padding-bottom: 32px;
  }

  /* 上下の線追加スタイル */
  /* .company-logo img {
    height: 125px;
    padding: 16px 0;
  } */

  .company-logo .logo-slider {
    padding: 0;
    margin-top: 16px;
    margin-bottom: 0;
}

/* .company-logo ul {
  gap: 85px;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2160px); /* 2セット中の1セット分を左へ */
  }
}

  /* 組み替え版 */
  .logo-track .logo-01 img {
    height: 37px;
  }

  .logo-track .logo-02 img {
    height: 75px;
  }

  .logo-track .logo-03 img {
    height: 43px;
  }

  .logo-track .logo-04 img {
    height: 45px;
  }

  .logo-track .logo-05 img {
    height: 48px;
  }

  .logo-track .logo-06 img {
    height: 60px;
  }

  .logo-track .logo-07 img {
    height: 42px;
  }

  .logo-track .logo-08 img {
    height: 30px;
  }

  .logo-track .logo-09 img {
    height: 42px;
  }

  .logo-track .logo-10 img {
    height: 82px;
    /* margin-right: 80px; */
  }

  /*==============================================================
  　　PC_SERVICE サービス紹介
  ==============================================================*/
  .sec-service {
    /* padding: 60px 0 105px; */
    padding: 120px 0 130px;
    max-width: 1100px;
    /* justify-content: center; */
    display: grid;
    justify-self: center;
    margin: 0 70px;
  }

  /* 改行高さ調整 */
  .ser-text p.text-margin {
    height: auto;
  }

  .sec-title h2 {
    font-size: 75px;
    margin: 0;
  }

  .sec-title p {
    font-size: 20px;
    margin-left: 40px;
  }

  .ser-img-box p {
    font-size: 120px;
  }

  .ser-img-box img {
    margin-left: 0px;
  }

  .ser-img-box .ser-img {
    width: 210px;
    height: 210px;
  }

  .ser-text h3 {
    font-size: 24px;
    margin: 23px 0 18px;
  }

  .ser-text p {
    font-size: 16px;
  }

  .ser-info-box {
    font-size: 13px;
    width: 290px;
    height: 55px;
    border-radius: 30px;
  }

  .ser-info-box p {
    margin-left: 25px;
  }

  .ser-info-box img {
    margin-top: 0;
    margin-left: 25px;
  }

  /*==============================================================
  　　PC_SOLUTIONS ソリューション
  ==============================================================*/
  .sol-bg {
    padding: 130px 20px;
    justify-items: center;
  }

  .sec-solutions {
    padding: 75px 0 60px;
    width: 100%;
    max-width: 1300px;
  }

  .sec-solutions h2 {
    font-size: 75px;
    /* margin-bottom: 40px; */
  }

  .sec-sol-title h2 {
    font-size: 75px;
    margin-bottom: 20px;
  }

  .sec-sol-title p {
    font-size: 20px;
    margin: auto;
    margin-bottom: 60px;
  }

  .slider {
    margin-bottom: 45px;
  }

  .sol-text {
    font-size: 16px;
    margin-bottom: 90px;
  }

  .sol-box {
    width: 300px;
    height: 280px;
    /* margin-left: 50px; */
    /* margin: auto; */
    /* margin-left: 22%; */
    margin-left: -100%;
    /* margin: 0 15px 0px; */

  }

  .slider-item p {
    font-size: 15px;
    width: 300px;
    height: 140px;
    padding: 0;
    padding: 0 60px 0 30px;
    align-content: center;
    margin: 0;
  }

  .sol-box img {
    top: 20px;
    left: 238px;
  }

  /*==============================================================
  　　PC_NEWS ニュース
  ==============================================================*/
  .news-bg {
    padding: 130px 20px 0;
  }

  .sec-news-all {
    position: relative;
    /* width: 100vw; */
    background-color: aqua;
  }

  .sec-news {
    max-width: 1300px;
    width: 100%;
    display: grid;
    justify-self: center;
    /* margin: 0 70px; */
    padding: 90px 100px 120px;
  }

  /* 一覧ボタン */
  .news-btn {
    width: 200px;
    max-height: 70px;
    margin-top: 15px;
    /* margin-right: 55px; */
    border-radius: 50px;
    margin-top:  10px;

  }
  .news-info-box p {
    font-size: 13px;
  }
  .news-title-box .news-btn  {
    width: 200px;
  }

  .sec-news .sec-title {
    margin-left: 0;
    /* max-width: 1100px;
    display: grid;
    justify-self: center; */
  }

  .news-box li {
    max-width: 870px;
    padding: 20px 40px;
    /* display: grid;
    justify-self: center; */
  }

  .news-content {
    margin-top: 60px;
  }

  .news-content-bg {
    background-color: #4689E3;
  }

  .news-box {
    /* margin: 0 55px 0 0; */
    padding: 45px 215px 45px 30px;
  }

  .news-item time {
    font-size: 15px;
    /* margin-right: 16px; */
  }

  .news-item p {
    padding: 5px 8px;
    margin: 0 32px;
    font-size: 10px;
    width: 80px;
  }

  .news-box .news-text {
    font-size: 16px;
  }

  .news-img {
    top: 130px;
    right: 0px;
  }

  .news-img img {
    width: 250px;
  }



}